<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @prediction.user_id %>
</p>

<p>
  <b>Fixture:</b>
  <%= @prediction.fixture_id %>
</p>

<p>
  <b>Home goals:</b>
  <%= @prediction.home_goals %>
</p>

<p>
  <b>Away goals:</b>
  <%= @prediction.away_goals %>
</p>


<%= link_to 'Edit', edit_prediction_path(@prediction) %> |
<%= link_to 'Back', predictions_path %>
