<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @prediction.user_id %>
</p>

<p>
  <b>Gameweek:</b>
  <%= @prediction.gameweek_id %>
</p>

<p>
  <b>Match1 home:</b>
  <%= @prediction.match1_home %>
</p>

<p>
  <b>Match1 away:</b>
  <%= @prediction.match1_away %>
</p>

<p>
  <b>Match2 home:</b>
  <%= @prediction.match2_home %>
</p>

<p>
  <b>Match2 away:</b>
  <%= @prediction.match2_away %>
</p>

<p>
  <b>Match3 home:</b>
  <%= @prediction.match3_home %>
</p>

<p>
  <b>Match3 away:</b>
  <%= @prediction.match3_away %>
</p>

<p>
  <b>Match4 home:</b>
  <%= @prediction.match4_home %>
</p>

<p>
  <b>Match4 away:</b>
  <%= @prediction.match4_away %>
</p>

<p>
  <b>Match5 home:</b>
  <%= @prediction.match5_home %>
</p>

<p>
  <b>Match5 away:</b>
  <%= @prediction.match5_away %>
</p>

<p>
  <b>Match6 home:</b>
  <%= @prediction.match6_home %>
</p>

<p>
  <b>Match6 away:</b>
  <%= @prediction.match6_away %>
</p>

<p>
  <b>Match7 home:</b>
  <%= @prediction.match7_home %>
</p>

<p>
  <b>Match7 away:</b>
  <%= @prediction.match7_away %>
</p>

<p>
  <b>Match8 home:</b>
  <%= @prediction.match8_home %>
</p>

<p>
  <b>Match8 away:</b>
  <%= @prediction.match8_away %>
</p>

<p>
  <b>Match9 home:</b>
  <%= @prediction.match9_home %>
</p>

<p>
  <b>Match9 away:</b>
  <%= @prediction.match9_away %>
</p>

<p>
  <b>Match10 home:</b>
  <%= @prediction.match10_home %>
</p>

<p>
  <b>Match10 away:</b>
  <%= @prediction.match10_away %>
</p>

<p>
  <b>Total points:</b>
  <%= @prediction.total_points %>
</p>


<%= link_to 'Edit', edit_prediction_path(@prediction) %> |
<%= link_to 'Back', predictions_path %>
