<%= form_for @gameweek do |f| %>
  <%= f.error_messages %>
  <div id="gameweekDetails">
  <div id="gameweekDate">
  <p>
    <b>Deadline Time:</b><br />
    <%= f.datetime_picker 'start_date' %>
  </p>
  </div>  
  <div id="gameweekFixtures">
  <p>
    <b>Fixtures:</b><br />
    <%= f.number_field :number_of_fixtures %>
  </p>
  </div>
  </div>
  <table border=1>
  <thead>
    <th>Kickoff</th>	
	<th>Home Team</th>
	<th>Away Team</th>
	<th>Home</th>
	<th>Away</th>
  <thead>  
  <%= f.fields_for :fixtures do |builder| %>
    <%= render "fixture_fields", :f => builder %>
  <% end %>
  </table>
  <div id="gameweekButtons">      
	<div id="backButton"><%= button_to "Back", gameweeks_path %></div>  
	<div id="submitButton"><%= f.submit %></div>
  </div>
<% end %>
