<% title "Gameweeks" %>

<table>
  <tr>
    <th>Start Date</th>
    <th>Start Time</th>
    <th>Number Of Fixtures</th>
  </tr>
  <% for gameweek in @gameweeks %>
    <tr>
      <td><%= gameweek.start_date %></td>
      <td><%= gameweek.start_time %></td>
      <td><%= gameweek.number_of_fixtures %></td>
      <td><%= link_to "Show", gameweek %></td>
      <td><%= link_to "Edit", edit_gameweek_path(gameweek) %></td>
      <td><%= link_to "Destroy", gameweek, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Gameweek", new_gameweek_path %></p>
