<%= form_for @gameweek do |f| %>
  <%= f.error_messages %>
  <div id="gameweekDetails">
  <div id="gameweekDate">
  <p>
    <b>Deadline Time: </b><br />
    <%= @gameweek.start_date %>
  </p>
  </div>  
  <div id="gameweekFixtures">
  <p>
    <b>Fixtures: </b><br />
    <%= @gameweek.number_of_fixtures %>
  </p>
  </div>
  </div>
  <table border=1>
  <thead>
    <th>Kickoff</th>	
	<th>Home Team</th>
	<th>Away Team</th>
	<th>Home</th>
	<th>Away</th>
  <thead>  
  <%= for fixture in @gameweek.fixtures.each do %>
    <tr>
		<td><%=h fixture.match_date %></td>  
		<td class="team"><%=h fixture.home_team %></td>
		<td class="team"><%=h fixture.away_team %></td>
		<%= f.fields_for :prediction do |builder| %>
		  <%= render "prediction_fields", :f => builder %>
		<% end %> 
	</tr>
  <% end %>
  </table>
  <div id="gameweekButtons">      
	<div id="backButton"><%= button_to "Back", gameweeks_path %></div>  
	<div id="submitButton"><%= f.submit %></div>
  </div>
<% end %>
