<%= form_for @gameweek do |f| %>
  <%= f.error_messages %>
<% title "Gameweek" %>
<div id="gameweekDets">  
  <div id="gameweekStart">
    <b>Deadline Time:</b> 
	&nbsp;<%= @gameweek.start_date.strftime("%d/%m/%Y") %>
  </div>  
  <div id="gameweekFix">
    <b>Fixtures:</b>
	&nbsp;<%= @gameweek.number_of_fixtures %>
  </div>  
</div>

<table id="showFixtures" border=1>
  <thead>
    <th>Kickoff</th>	
	<th>Home Team</th>
	<th>Away Team</th>
	<th>Home</th>
	<th>Away</th>
  <thead>  
  <% for fixture in @gameweek.fixtures %> 
    <tr>
      <td class="datepicker"><%=h fixture.match_date.strftime("%d/%m/%Y") %></td>  
      <td class="team"><%=h fixture.home_team %></td>
      <td class="team"><%=h fixture.away_team %></td>
	  <%= f.fields_for :predictions do |builder| %>
        <%= render "prediction_fields", :f => builder %>
      <% end %> 
    </tr
  <% end %>
</table>
<div id="gameweekButtons">        
	<div id="submitButton"><%= f.submit %></div>
  </div>
<% end %>
