<% title "Gameweek" %>

<p>
  <strong>Start Date:</strong>
  <%= @gameweek.start_date %>
</p>
<p>
  <strong>Start Time:</strong>
  <%= @gameweek.start_time %>
</p>
<p>
  <strong>Number Of Fixtures:</strong>
  <%= @gameweek.number_of_fixtures %>
</p>

<p>
  <%= link_to "Edit", edit_gameweek_path(@gameweek) %> |
  <%= link_to "Destroy", @gameweek, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", gameweeks_path %>
</p>
